//-- imports
@import "./scss/variables";
@import "./components/index.scss";

//-- views
@import "./scss/index.scss";

//--
body,
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1280px;
  margin: 0 auto;
}