.footer {
    &__container{
        background: $color-brown;
    }
    &__top{
        &-title{
            color: $color-white;
        }
    }
    &__bottom{
        &--link{
            text-decoration: none !important;
            color: $color-white !important;
            &:hover {
                color: $color-orange-light !important;
            }
            .copyright {
                fill: $color-white;
            }
        }
    }
}