//-- colors
$color-brown:           #443635;
$color-orange-light:    #FDEBDE;
$color-yellow:          #FFC547;
$color-orange-light2:   #FDEBDD;
$color-red-light:       #FBACA6;
$color-red-light2:      #FBACA3;
$color-grey-light:      #EBE2DD;
$color-white:           #FDF4EE;